<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/tailwindcss">
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            fontFamily: { mont: ['Montserrat', 'sans-serif'] },
            fontWeight: { normal: '400', bold: '700', extrabold: '900' },
            extend: {}
          }
        }
      </script>
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
  <div class="w-full h-20 flex items-center justify-center bg-pink-200 sticky top-0 z-10">
    <ul class="flex items-center justify-center gap-2 text-xl font-bold">
      <li><a href="{% url 'empList' %}" class="py-2 px-6 bg-yellow-200 hover:bg-yellow-400 rounded-3xl">Employee List</a></li>
      <li><a href="{% url 'addEmployee' %}" class="py-2 px-6 bg-yellow-200 hover:bg-yellow-400 rounded-3xl">Add Employee</a></li>
      <li><a href="{% url 'updateEmployee' %}" class="py-2 px-6 bg-yellow-200 hover:bg-yellow-400 rounded-3xl">Update Employee</a></li>
      <li><a href="{% url 'deleteEmployee' %}" class="py-2 px-6 bg-yellow-200 hover:bg-yellow-400 rounded-3xl">Delete Employee</a></li>
    </ul>
  </div>
    {% block content %}

    {% endblock %}
</body>
</html>