
{% extends 'base.html' %}
{% block title %} Update Employee {% endblock %}

{% block content %}
<div class="w-full h-screen flex items-center justify-center bg-blue-200 font-mont relative">
    {% for message in messages %}
        <div class="w-1/3 py-2 px-8 bg-blue-500 absolute top-28">
            <h1 class="text-xl text-white font-bold text-center">{{message}}</h1>
        </div>
    {% endfor %}
    <div class="w-1/3 flex flex-col items-center justify-center bg-blue-500 p-10">
        <h1 class="text-4xl text-white font-bold font-bold mb-3">UPDATE EMPLOYEE</h1>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <input class="w-full pt-2 pb-2 px-6 mb-2 text-xl" type="number" name="id" placeholder="Enter your ID" required>
            <input class="w-full pt-2 pb-2 px-6 mb-2 text-xl" type="text" name="name" placeholder="Enter New Name">
            <input class="w-full pt-2 pb-2 px-6 mb-2 text-xl" type="email" name="email" placeholder="Enter New Email">
            <input class="w-full pt-2 pb-2 px-6 mb-2 text-xl" type="number"name='phone' placeholder="Enter New Phone">
            <button id="submit_btn" class="w-full py-3 px-10 bg-yellow-300 hover:bg-yellow-400 text-xl font-bold" type="submit" value="add_employee">UPDATE EMPLOYEE</button>
        </form>
    </div>
</div>

{% endblock %}

